@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import 'swiper/swiper-bundle.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.container {
  @apply max-w-[1200px] mx-auto px-5 py-3;
}
.inner-container {
  @apply max-w-[650px] mx-auto;
}

h2 {
  @apply font-medium text-2xl capitalize;
}
h3 {
  @apply font-medium text-xl capitalize;
}

.line-h2 {
  @apply relative inline-block before:content-[''] before:absolute before:right-[calc(100%+10px)] before:top-1/2 before:translate-y-1/2 before:w-10 before:h-[1px] before:bg-blue-600 mb-5 after:content-[''] after:absolute after:left-[calc(100%+10px)] after:top-1/2 after:translate-y-1/2 after:w-10 after:h-[1px] after:bg-blue-600;
}

p.desc {
  @apply text-slate-500 mb-10;
}
header.activeHeader {
  @apply fixed top-0 bg-slate-50/90 backdrop-blur-[6px] border-b shadow-sm !z-[100] w-full;
}

.testimoni-text {
  &::before,
  &::after {
    @apply content-['"'] !text-xl font-medium italic;
  }
}

.swiper {
  @apply h-full w-full;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
